<html>
  <head>
      <script src="https://kit.fontawesome.com/8297507d5e.js"></script>
  </head>
  <body>
    <style>
      .row {
        width: 100%; 
        padding: 20px 25px;
        margin: 0 !important;
      }
      #ttdv_table, #ifitness_table{
        overflow-y:scroll; 
        display:block;
        width: 100%;
        height:400px; 
        border: 2px solid #ccc;
        padding: 10px;
      }

      td, form {
        text-align: center;
      }
    </style>
    <%- include('navbar'); %>
    <div class="alert alert-success text-center" role="alert">
      <% if(time) { %>
        Các updater sẽ tự động chạy vào <%= time %> mỗi ngày <% } else{ %>
        Các updater sẽ tự động chạy mỗi <%= every %> phút từ 6:00 AM tới 11:00 PM mỗi ngày <% } %>
      
    </div>
    <div class="container">
    <p>
      <a class="btn btn-dark text-light" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Cài đặt thời gian <i style="font-size: 1.5em;" class="fas fa-cog"></i>
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="row">
        <form action="update-timing" method="post" id="time-form-1" class="col-6"><div class="form-row">
            <div class="input-group mb-3 col-9">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Chạy mỗi</label>
              </div>
              <select name="every" class="every-select form-control" id="inputGroupSelect01">
                <option value="5">5 phút</option>
                <option selected value="30">30 phút</option>
                <option value="60">1 tiếng</option>
                <option value="120">2 tiếng</option>
                <option value="300">5 tiếng</option>
                <option value="">Không chọn</option>
              </select>
          </div>
          <button style="height: 38px;" type="submit" class="btn btn-primary col-3">Cập nhật</button></div>
        </form>
        <form action="update-timing" method="post" id="time-form-2" class="col-6"><div class="form-row">
        <div class="input-group mb-3 col-9">
            <div class="input-group-prepend">
                <label class="input-group-text">Cố định</label>
            </div>
            <input name="hour" class="text-center form-control" type="number" max="23" min="0" placeholder="giờ" required>
            <input name="minute" class="text-center form-control" type="number" max="59" min="00" placeholder="phút" required>
        </div>
        <button style="height: 38px;" type="submit" class="btn btn-primary col-3">Cập nhật</button>
        </div>
      </form>
      </div>
    </div>
    </div>
    </div>
    <div style="padding: 10px 5rem;" class="row">
        <div class="col-sm-12 col-lg-6">
          <form id="ttdv_form" action="/" method="post">
            <input class="btn btn-dark" name="ttdv" type="submit" value="Chạy updater TTĐV"/>
          </form>

          <table id="ttdv_table" class="table display">
          </table>
          <p style="text-align: center;">Đã cập nhật <span id="ttdv-changes-number">0</span> sản phẩm</p>
        </div>
        <div class="col-sm-12 col-lg-6">
          <form id="ifitness_form" action="/" method="post">
            <input class="btn btn-dark" name="ttdv" type="submit" value="Chạy updater iFitness"/>
          </form>
      
          <table id="ifitness_table" class="table display">
          </table>
          <p style="text-align: center;">Đã cập nhật <span id="ifitness-changes-number">0</span> sản phẩm</p>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $("#ttdv_form").submit(function(event){
          $('#ttdv_table').empty();
          event.preventDefault(); //prevent default action 

          $.ajax({
            url: '/',
            method: 'POST',
            data: { name: "ttdv" }
            }).done(function(res) {
                if (res.success) {
                console.log('id from ajax call is', res);
            } else {
                console.log('error...ajax');
                }
          });

        });
        var socket = io()

        socket.on('ttdv', function(data){
          var el = document.getElementById("ttdv_table");
          var price = '';
          if (data.newPrice !== undefined)
            price = `<td style="width: 15%; color: red; font-weight: bold;">${data.newPrice}</td>`;
          else
            price = `<td style="width: 15%;">${data.price}</td>`;

          if (data.inStock === true)
            var inStock = "Còn hàng";
          else if (data.inStock === false) var inStock = "Hết hàng";
          else var inStock = ""; 
          var row = `<tr>
            <td style="width: 15%;">${data.sku}</td>
            <td style="width: 50%;">${data.name}</td>
            ${price}
            <td style="width: 10%; color: red;">${inStock}</td>
            </tr>`;
          $('#ttdv_table').append(row);
          el.scrollTop = el.scrollHeight;
        });

        $("#ifitness_form").submit(function(event){
          $('#ifitness_table').empty();
          event.preventDefault(); //prevent default action 

          $.ajax({
            url: '/',
            method: 'POST',
            data: { name: "ifitness" }
            }).done(function(res) {
                if (res.success) {
                console.log('id from ajax call is', res);
            } else {
                console.log('error...ajax');
                }
          });

        });

        socket.on('ifitness', function(data){
          var el = document.getElementById("ifitness_table");
          var price = '';
          if (data.newPrice !== undefined)
            price = `<td style="width: 15%; color: red; font-weight: bold;">${data.newPrice}</td>`;
          else
            price = `<td style="width: 15%;">${data.price}</td>`;

          if (data.inStock === true)
            var inStock = "Còn hàng";
          else if (data.inStock === false) var inStock = "Hết hàng";
          else var inStock = ""; 
          var row = `<tr>
            <td style="width: 15%;">${data.sku}</td>
            <td style="width: 50%;">${data.name}</td>
            ${price}
            <td style="width: 10%; color: red;">${inStock}</td>
            </tr>`;
          $('#ifitness_table').append(row);
          el.scrollTop = el.scrollHeight;
        });
        socket.on('ttdv_changes', function(data){
          $("#ttdv-changes-number").html(data.changes);
        });
        socket.on('ifitness_changes', function(data){
          $("#ifitness-changes-number").html(data.changes);
        })
        $(document).ready(function() {
          $(".home-item").addClass("active");
        } );
    </script>
  </body>
</html>