<html>
  <head>
  </head>
  <body>
    <style>
      .row {
        width: 100%; 
        padding: 20px 25px;
        margin: 0 !important;
      }
      #ttdv_table, #ifitness_table{
        overflow-y:scroll; 
        display:block;
        width: 100%;
        height:400px; 
        border: 2px solid #ccc;
        padding: 10px;
      }

      td, form {
        text-align: center;
      }
    </style>
    <%- include('navbar'); %>
    <hr>
    <div class="row">
      
        <div class="col s12 m6">
          <form id="ttdv_form" action="/" method="post">
            <input class="btn btn-dark" name="ttdv" type="submit" value="Chạy updater TTĐV"/>
          </form>

          <table id="ttdv_table" class="table display">
          </table>
          <p style="text-align: center;">Đã cập nhật <span id="ttdv-changes-number">0</span> sản phẩm</p>
        </div>
        <div class="col s12 m6">
          <form id="ifitness_form" action="/" method="post">
            <input class="btn btn-dark" name="ttdv" type="submit" value="Chạy updater iFitness"/>
          </form>
      
          <table id="ifitness_table" class="table display">
          </table>
          <p style="text-align: center;">Đã cập nhật <span id="ifitness-changes-number">0</span> sản phẩm</p>
        </div>
    </div>




    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $("#ttdv_form").submit(function(event){
          $('#ttdv_table').empty();
          event.preventDefault(); //prevent default action 

          $.ajax({
            url: '/',
            method: 'POST',
            data: { name: "ttdv" }
            }).done(function(res) {
                if (res.success) {
                console.log('id from ajax call is', res);
            } else {
                console.log('error...ajax');
                }
          });

        });
        var socket = io()

        socket.on('ttdv', function(data){
          var el = document.getElementById("ttdv_table");
          var price = '';
          if (data.newPrice !== undefined)
            price = `<td style="width: 15%; color: red; font-weight: bold;">${data.newPrice}</td>`;
          else
            price = `<td style="width: 15%;">${data.price}</td>`;

          if (data.inStock === true)
            var inStock = "Còn hàng";
          else if (data.inStock === false) var inStock = "Hết hàng";
          else var inStock = ""; 
          var row = `<tr>
            <td style="width: 15%;">${data.sku}</td>
            <td style="width: 50%;">${data.name}</td>
            ${price}
            <td style="width: 10%; color: red;">${inStock}</td>
            </tr>`;
          $('#ttdv_table').append(row);
          el.scrollTop = el.scrollHeight;
        });

        $("#ifitness_form").submit(function(event){
          $('#ifitness_table').empty();
          event.preventDefault(); //prevent default action 

          $.ajax({
            url: '/',
            method: 'POST',
            data: { name: "ifitness" }
            }).done(function(res) {
                if (res.success) {
                console.log('id from ajax call is', res);
            } else {
                console.log('error...ajax');
                }
          });

        });

        socket.on('ifitness', function(data){
          var el = document.getElementById("ifitness_table");
          var price = '';
          if (data.newPrice !== undefined)
            price = `<td style="width: 15%; color: red; font-weight: bold;">${data.newPrice}</td>`;
          else
            price = `<td style="width: 15%;">${data.price}</td>`;

          if (data.inStock === true)
            var inStock = "Còn hàng";
          else if (data.inStock === false) var inStock = "Hết hàng";
          else var inStock = ""; 
          var row = `<tr>
            <td style="width: 15%;">${data.sku}</td>
            <td style="width: 50%;">${data.name}</td>
            ${price}
            <td style="width: 10%; color: red;">${inStock}</td>
            </tr>`;
          $('#ifitness_table').append(row);
          el.scrollTop = el.scrollHeight;
        });
        socket.on('ttdv_changes', function(data){
          $("#ttdv-changes-number").html(data.changes);
        });
        socket.on('ifitness_changes', function(data){
          $("#ifitness-changes-number").html(data.changes);
        })
        $(document).ready(function() {
          $(".home-item").addClass("active");
        } );
    </script>
  </body>
</html>