<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <style>
            body {
                background-image: url("http://getwallpapers.com/wallpaper/full/6/c/9/374919.jpg");
            }
            .btnSubmit
            {
                width: 50%;
                border-radius: 1rem;
                padding: 1.5%;
                border: none;
                cursor: pointer;
            }
        </style>
        <div class="row">
        <div style="margin-top: 10rem; padding: 20px; opacity: 0.85;" class="col-md-4 offset-md-4 login-form-2 bg-dark">
            <h3 style="margin: 25px 0px;" class="text-white text-center">Inventory Updater</h3>
            <form method="post">
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Tên đăng nhập" />
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Mật khẩu" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btnSubmit btn-light" value="Đăng nhập" />
                </div>
            </form>
        </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>