<nav>
    <div class="nav-wrapper teal">
      <a href="#!" class="brand-logo center">Inventory Updater</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Chạy Updater</a></li>
        <li><a href="history">Lịch sử Update</a></li>
      </ul>
    </div>
</nav>